include LICENSE
include setup.py
include setupbase.py
include setup.cfg
include pyproject.toml

# added by check-manifest
include *.md
recursive-include docs *.md
recursive-include nbclassic *.py
recursive-include tests *.py
