name: Docs Tests
on:
  push:
    branches: '*'
  pull_request:
    branches: '*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  python-version: '3.11'

jobs:
  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    strategy:
      fail-fast: false
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Install Python ${{ env.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ env.python-version }}
        architecture: 'x64'
    - name: Upgrade packaging dependencies
      run: |
        pip install --upgrade pip wheel
    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "dir=$(pip cache dir)" >> "$GITHUB_OUTPUT"
    - name: Cache pip
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ env.python-version }}-${{ hashFiles('pyproject.toml') }}
        restore-keys: |
          ${{ runner.os }}-pip-${{ env.python-version }}-
          ${{ runner.os }}-pip-
    - name: Install the Python dependencies
      run: |
        pip install -e .[test] codecov
        pip install -r docs/doc-requirements.txt
    - name: Install pandoc
      uses: pandoc/actions/setup@86321b6dd4675f5014c611e05088e10d4939e09e # v1.1.1
      with:
        version: 3.6.4
    - name: List installed packages
      run: |
        pip freeze
        pip check
    - name: Run tests on documentation
      run: |
        EXIT_STATUS=0
        make -C docs/ html || EXIT_STATUS=$?
        cd docs/source && pytest --nbval --current-env .. || EXIT_STATUS=$?
        exit $EXIT_STATUS
