name: Playwright Tests

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-13]
        python-version: [ '3.9', '3.10', '3.11', '3.12', '3.13' ]
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '16.x'

    - name: Install JS
      run: |
        yarn install

    - name: Install Python dependencies
      run: |
        python tools/install_pydeps.py

    - name: Run Playwright Tests
      run: |
        pytest --capture=no --verbose -r A --showlocals --tb=native nbclassic/tests/end_to_end
