name: Playwright Tests

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'
jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [macos]
        python-version: [ '3.7', '3.8', '3.9', '3.10']
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64'

    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Install JS
      run: |
        npm install

    - name: Install Python dependencies
      run: |
        python tools/install_pydeps.py

    - name: Run Individual Tests
      run: |
        pytest -sv nbclassic/tests/end_to_end
