name: Playwright Tests

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest]
        python-version: [ '3.9', '3.10', '3.11', '3.12', '3.13' ]
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up Node
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: '18.x'

    - name: Install Python dependencies
      run: |
        python tools/install_pydeps.py

    - name: Run Playwright Tests
      run: |
        pytest --capture=no --verbose -r A --showlocals --tb=native nbclassic/tests/end_to_end
